<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>App1</title>
    </head>

    <body>
        <h1>App1 says...</h1>
        hello world! 
        <br/>
        {% if categories %}
        <ul>
        	{% for category in categories %}
        	<li><a href="/app1/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present,man! Add some NOW! </strong>
        {% endif %}
        <a href="/app1/about/">About</a><br />
        <img src="{% static "images/img1.jpg" %}" alt="On a good start!" />
    </body>

</html>